[submodule "resource/new-websiter"]
	path = resource/new-websiter
	url = https://github.com/Rebstorm/new-websiter.git
[submodule "paul0/new-websiter"]
	path = paul0/new-websiter
	url = https://github.com/Rebstorm/new-websiter.git
